In [12]:
import pandas as pd
import numpy as np

In [8]:
# Read dataset
dataset = pd.read_table('./data.txt', sep=' ', header=None, skiprows=1)
dataset.columns = ['date', 'time', 'epoch', 'sensor', 'temperature', 'humidity', 'light', 'voltage']
dataset = dataset.dropna(axis=0)
dataset = dataset.drop('epoch', axis=1)
dataset
# 33 days, from Feb 28, 2004 ~ April 2, 2004.

,date,time,sensor,temperature,humidity,light,voltage
0,2004-02-28,00:59:16.02785,1.0,19.9884,37.0933,45.08,2.69964
1,2004-02-28,01:03:16.33393,1.0,19.3024,38.4629,45.08,2.68742
2,2004-02-28,01:06:16.013453,1.0,19.1652,38.8039,45.08,2.68742
3,2004-02-28,01:06:46.778088,1.0,19.1750,38.8379,45.08,2.69964
4,2004-02-28,01:08:45.992524,1.0,19.1456,38.9401,45.08,2.68742
...,...,...,...,...,...,...,...
2313147,2004-04-02,09:06:21.488182,58.0,24.1730,21.6575,1729.60,2.78836
2313148,2004-04-02,09:07:22.173243,58.0,24.1436,21.7310,1729.60,2.78836
2313149,2004-04-02,09:07:52.31387,58.0,24.1436,21.6575,1670.72,2.78836
2313150,2004-04-02,09:08:52.189274,58.0,24.1240,21.5839,1670.72,2.78836
2313151,2004-04-02,09:09:22.206544,58.0,24.1044,21.4367,1729.60,2.78836

In [9]:
dataset.describe()

             sensor   temperature      humidity         light       voltage
count  2.219802e+06  2.219802e+06  2.219802e+06  2.219802e+06  2.219802e+06
mean   2.847832e+01  3.923345e+01  3.373197e+01  4.072114e+02  2.490634e+00
std    1.503396e+01  3.742113e+01  1.724055e+01  5.394278e+02  1.784078e-01
min    1.000000e+00 -3.840000e+01 -8.983130e+03  0.000000e+00  9.100830e-03
25%    1.700000e+01  2.045880e+01  3.184240e+01  3.956000e+01  2.385220e+00
50%    2.900000e+01  2.246780e+01  3.921230e+01  1.582400e+02  2.527320e+00
75%    4.100000e+01  2.697580e+01  4.348570e+01  5.372800e+02  2.627960e+00
max    5.800000e+01  3.855680e+02  1.375120e+02  1.847360e+03  3.159150e+00

In [16]:
zone_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 30, 31, 32, 33, 34, 35, 36]
zone_1 = np.array(zone_1)
zone_2 = np.arange(37, 55) # 37 ~ 54
zone_3 = np.arange(11, 30) # 11 ~ 29
print(zone_1, '\n', zone_2, '\n', zone_3)
print(len(zone_1), len(zone_2), len(zone_3))

[ 1  2  3  4  5  6  7  8  9 10 30 31 32 33 34 35 36]
 [37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54]
 [11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29]
17 18 19